body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #000;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tab {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
  padding: 10px 20px;
  border-radius: 5px;
}

.tab.active {
  background-color: #000;
  color: #fff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product-card {
  box-sizing: border-box;
  width: 250px; /* Set the width of each product card */
  margin: 10px; /* Adjust the margin as needed */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.badge {
  background-color: #555;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .products {
    margin: 10px;
  }

  .product-card {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .products {
    margin: 15px;
  }

  .product-card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 1025px) {
  .products {
    margin: 20px;
  }

  .product-card {
    width: calc(25% - 20px);
  }
}
